################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FrogGameMaker
/FrogGameEditor/x64/Debug
*.user
/x64/Debug
/.vs
/FrogGameEngine/x64/Debug

/.vs/FrogGameMaker
/FrogGameEditor/x64/Release
*.user
/x64/Release
/.vs
/FrogGameEngine/x64/Release
